{block title}{$lang['menu']['edu']['edu']}{/block}


{block head}
{/block}

{block content}

	<div>

		<p>{$lang['edu']['text1']}</p>

		<p>{$lang['edu']['text2']}</p>

		<p>{$lang['edu']['text3']}</p>

	</div>

{/block}